@import "tailwindcss";

body {
    background-color: #ECECEC;
}

button {
    background: linear-gradient(90deg, rgba(206, 159, 252, 1) 11%, rgba(165, 130, 247, 1) 51%, rgba(115, 103, 240, 1) 92%);
    padding:  8px 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-gradient-border {
  @apply cursor-pointer relative inline-flex items-center p-0.5 justify-center 
         overflow-hidden text-sm font-medium rounded-md 
         bg-gradient-to-br from-purple-500 to-pink-500;
}

.btn-gradient-border-inner {
  @apply relative px-2 py-2 bg-white rounded-md text-gray-900;
}
